@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-gray-900 text-white h-screen w-screen;
}

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    @keyframes fadeOut {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
}
